.title {
  @apply font-bold my-4 text-center text-xl;
}

.item_task {
  @apply flex justify-between px-3 py-2 bg-blue-100 rounded-md;
}

.tab_span {
  @apply text-black bg-gray-100 py-2 rounded-t-lg font-bold flex justify-center;
}

.tab_span_active {
  @apply text-blue-500 bg-white py-2 rounded-t-lg font-bold flex justify-center;
}

.button_red {
  @apply px-5 py-2 bg-red-500 text-white font-medium text-base rounded-md shadow-md hover:bg-red-600 hover:shadow-lg;
}

.button_blue {
  @apply px-5 py-2 bg-blue-500 text-white font-medium text-base rounded-md shadow-md hover:bg-blue-600 hover:shadow-lg;
}

.button_green {
  @apply px-5 py-2 bg-green-500 text-white font-medium text-base rounded-md shadow-md hover:bg-green-600 hover:shadow-lg;
}

.select {
  cursor: pointer;
  @apply w-[150px] text-sm relative z-10;
}
